agent_llm_model="gpt-5.4"
agent_llm_temperature=0.7
agent_llm_base_url="http://openai.com/v1"
agent_llm_key="your_api_key_here"

code_llm_model="gpt-5.4-codex"
code_llm_base_url="http://openai.com/v1"
code_llm_key="your_api_key_here"

thinking_llm_model="gpt-o3"
thinking_llm_base_url="http://openai.com/v1"
thinking_llm_key="your_api_key_here"


embedding_model="text-embedding-3-small"
rerank_model="cohere/rerank-4-pro"
rerank_base_url="http://openai.com/v1/rerank"
small_llm_model="gpt-5-mini"
small_llm_key="your_api_key_here"
small_llm_base_url="http://openai.com/v1"


TAVILY_API_KEY="your_tavily_key_here"

LANGCHAIN_OPENAI_STREAM_CHUNK_TIMEOUT_S=600

MILVUS_URI="http://localhost:19530"
MILVUS_TOKEN=""

